// The prefix to use on all css classes from oui.
@oui-prefix: 'oui';

// Color
@primary-color: #29bb9c;
@warning-color: #f0c230;
@default-color: #bdc3c7;
@danger-color: #e44d42;
@success-color: #39ca7c;
@inverse-color: #35495d;
@info-color: #3a99d8;

// Base
@body-background: #fff;
@font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
@font-size-base: 14px;
@font-size-large: @font-size-base + 2px;
@font-size-small: 12px;
@text-color: #515a6e;

// Button
@btn-font-weight: normal;
@btn-padding-base: 5px 15px;
@btn-padding-large: 7px 17px;
@btn-padding-small: 1px 7px 2px;
@btn-font-size-base: @font-size-base;
@btn-font-size-large: @font-size-large;
@btn-font-size-small: @font-size-small;
